Build
.DS_Store

Hackernews/Hackernews\.UnitTests/obj/

Hackernews/Hackernews\.UnitTests/bin/

Hackernews/Hackernews\.Main/obj/

Hackernews/Hackernews\.Main/bin/

Hackernews/.idea/

Hackernews/Build/

*.userprefs

*.user
